$font-stack:    Helvetica, sans-serif;

$background-z-index: 10;
$main-wraper-z-index: 20;
$modal-z-index: 30;
$slider-z-index: 40;
$arrow-z-index: 50;
$panel-text-z-index: 60;

$button-width: 100px;
$image-height: 350px;
