<main class="page-wrapper-content" >
  <div class="login-modal-wrapper">
      <section class="login-modal">
          <div class="login-modal__title">
              <h2>Login to 'Demo Shop'</h2>                                                
          </div>
          <div class="login-modal__content" (inputLoginValue)="setLogin($event)">
              <div class="login-modal-info" [class.login-modal-info--error]="message">
                  <h2>{{message}}</h2>
              </div>
              <form #loginForm="ngForm" (ngSubmit)="authorizeUser()">
                  <app-input-login [field]="'login'" (inputLoginValue)="setLogin($event)"></app-input-login>
                  <app-input-password [field]="'password'" (inputPasswordValue)="setPassword($event)"></app-input-password>
                  <app-button [buttonCaption]="'Submit'" [isDisabled]="isError"></app-button>
              </form>
          </div>
      </section>
  </div>
</main>
<app-footer></app-footer>