.input {
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 12px;
    height: 40px;
    padding-left: 10px;
    width: 265px;
}

.icon {
    float: right;
    position: relative;
    right: 30px;
    top: 6px;
    width: 25px;
}