<main class="page-wrapper">
  <div class="page-wrapper-grey"></div>
  <header class="header">
                <div class="header-panel">
                    <span class="header-shop">Logo</span>
                    <div class="header-panel-right">
                        <span class="header-name">Hello John!</span>
                        <span class="header-logout">Logout</span>
                    </div>
                </div>
            </header>
  <aside class="filters-panel-wrapper-advanced">
          <div class="filters-panel-advanced">
                  <span>Filters Chceckbox Dropdown</span>
          </div>
  </aside>
  <div class="page-wrapper-content">
          <aside class="filters-panel">
                  <div class="filters-panel-options">
                          <button class="button" onclick="showHideFilterOptions()">Filter options</button>
                          <input class="input" type="text" name="filter" placeholder="Filter by text">
                          <img class="icon-search" src='../assets/search.png'>
                  </div>
          </aside>
          <section class="list-articles">
                  <article class="article-item">
                          <img src='../assets/items/1.jpg'>
                          <div class="panel-stars">
                                  <span class="star star--active"></span>
                                  <span class="star star--active"></span>
                                  <span class="star star--active"></span>
                                  <span class="star star--inactive"></span>
                                  <span class="star star--inactive"></span>
                          </div>
                          <div class="article-item__content">
                                  <h2>Lorem ipsum item 1</h2>
                                  <hr />
                                  <div class="article-item__vertical-text-overflow">
                                          <p>1 Lorem ipsum dolor sit amet, connim veniam, quis nnim veniam, quis nnim veniam, quis nnim veniam, quis nnim veniam, quis nnim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip eorem ipsum dolor sit amet, connim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exorem ipsum dolor sit amet, connim veniam, quis nostrud exercitatorem ipsum dolor sit amet, connim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exion ullamco laboris nisi ut aliquip exx ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate venim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruraliquip ex ea commodo consequat. Duis aute irure ptateor incie magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo.</p>
                                  </div>
                                  <div class="article-item__content-info">
                                          <span class="item-prize"><span class="item-prize--currency">$</span>47.95</span>
                                          <button class="button">Show more</button>  
                                  </div>
                          </div>
                  </article>
                  <article class="article-item">
                          <img src='../assets/items/2.jpg'>
                          <div class="panel-stars">
                                  <span class="star star--active"></span>
                                  <span class="star star--active"></span>
                                  <span class="star star--active"></span>
                                  <span class="star star--inactive"></span>
                                  <span class="star star--inactive"></span>
                          </div>
                          <div class="article-item__content">
                                  <h2>Lorem ipsum item 1</h2>
                                  <hr />
                                  <div class="article-item__vertical-text-overflow">
                                          <p>1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                  </div>
                                  <div class="article-item__content-info">
                                          <span class="item-prize"><span class="item-prize--currency">$</span>47.95</span>
                                          <button class="button">Show more</button>  
                                  </div>
                          </div>
                  </article>
                  <article class="article-item">
                          <img src='../assets/items/3.jpg'>
                          <div class="panel-stars">
                                  <span class="star star--active"></span>
                                  <span class="star star--active"></span>
                                  <span class="star star--active"></span>
                                  <span class="star star--inactive"></span>
                                  <span class="star star--inactive"></span>
                          </div>
                          <div class="article-item__content">
                                  <h2>Lorem ipsum item 1</h2>
                                  <hr />
                                  <div class="article-item__vertical-text-overflow">
                                          <p>1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                  </div>                                                <div class="article-item__content-info">
                                  <span class="item-prize"><span class="item-prize--currency">$</span>47.95</span>
                                  <button class="button">Show more</button>  
                                  </div>
                          </div>
                  </article>
                  <article class="article-item">
                          <img src='../assets/items/2.jpg'>
                          <div class="panel-stars">
                                  <span class="star star--active"></span>
                                  <span class="star star--active"></span>
                                  <span class="star star--active"></span>
                                  <span class="star star--inactive"></span>
                                  <span class="star star--inactive"></span>
                          </div>
                          <div class="article-item__content">
                                  <h2>Lorem ipsum item 1</h2>
                                  <hr />
                                  <div class="article-item__vertical-text-overflow">
                                          <p>1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                  </div>
                                  <div class="article-item__content-info">
                                          <span class="item-prize"><span class="item-prize--currency">$</span>47.95</span>
                                          <button class="button">Show more</button>  
                                  </div>
                          </div>
                  </article>
                  <article class="article-item">
                          <img src='../assets/items/3.jpg'>
                          <div class="panel-stars">
                                  <span class="star star--active"></span>
                                  <span class="star star--active"></span>
                                  <span class="star star--active"></span>
                                  <span class="star star--inactive"></span>
                                  <span class="star star--inactive"></span>
                          </div>
                          <div class="article-item__content">
                                  <h2>Lorem ipsum item 1</h2>
                                  <hr />
                                  <div class="article-item__vertical-text-overflow">
                                          <p>1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                  </div>
                                  <div class="article-item__content-info">
                                          <span class="item-prize"><span class="item-prize--currency">$</span>47.95</span>
                                          <button class="button">Show more</button>  
                                  </div>
                          </div>
                  </article>
                  <article class="article-item">
                          <img src='../assets/items/1.jpg'>
                          <div class="panel-stars">
                                  <span class="star star--active"></span>
                                  <span class="star star--active"></span>
                                  <span class="star star--active"></span>
                                  <span class="star star--inactive"></span>
                                  <span class="star star--inactive"></span>
                          </div>
                          <div class="article-item__content">
                                  <h2>Lorem ipsum item 1</h2>
                                  <hr />
                                  <div class="article-item__vertical-text-overflow">
                                          <p>1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                  </div>
                                  <div class="article-item__content-info">
                                          <span class="item-prize"><span class="item-prize--currency">$</span>47.95</span>
                                          <button class="button">Show more</button>  
                                  </div>
                          </div>
                  </article>
          </section>
  </div>
  <footer class="footer">Copyright 2017!!</footer>
</main>