<article class="article-item">
    <img src={{product.image}}>
    <app-panel-stars [activeStar]="product.activeStar" [inactiveStar]="product.inActiveStar"></app-panel-stars>
    <div class="article-item__content">
            <h2>{{product.name}}</h2>
            <hr />
            <div class="article-item__vertical-text-overflow">
                    <p>{{product.description}}</p>
            </div>
            <div class="article-item__content-info">
                    <span class="item-prize"><span class="item-prize--currency">$</span>{{product.cost}}</span>
                    <app-button [isHidden]="!isAdmin" [class]="button" [buttonCaption]="'Delete products'"></app-button>  
                    <app-button (click)="navigateToDetails(product.id)" [buttonCaption]="'Show more'"></app-button>  
            </div>
    </div>
</article>
