<article class="article-item">
    <img src={{product.image}}>
    <div class="panel-stars">
            <span class="star star--active" *ngFor="let activeStar of product.activeStar"></span>
            <span class="star star--inactive" *ngFor="let activeStar of product.inActiveStar"></span>
    </div>
    <div class="article-item__content">
            <h2>{{product.name}}</h2>
            <hr />
            <div class="article-item__vertical-text-overflow">
                    <p>{{product.description}}</p>
            </div>
            <div class="article-item__content-info">
                    <span class="item-prize"><span class="item-prize--currency">$</span>{{product.cost}}</span>
                    <button [hidden]="!isAdmin" class="button">Delete products</button>  
                    <button class="button" (click)="navigateToDetails(product.id)">Show more</button>  
            </div>
    </div>
</article>
