@import  'variables';
@import  'palette';

.login-modal {
    display: grid;
    grid-template-rows: 44px 320px;
    grid-template-columns: 420px;
    max-width: 600px;
    
    @media (max-width: 460px) {
        grid-template-columns: 300px;
    }

    &__title {
        background-color: $white-color;
        display: flex;
        justify-content: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        h2 {
            font-size: 16px;
        }
    }
    
    .error {
        input {
            border: 2px solid $error-color;
            color: $error-color;
        }
    }

    &__submit-button {
        border-radius: 10px;
        clear: right;
        color: $white-color;
        float: right;
        font-size: 12px;
        font-weight: 700;
        height: 40px;
        width: $button-width;
        background: -webkit-linear-gradient(bottom, #007d68, #00bcc0);

        &:disabled {
            background: -webkit-linear-gradient(top, #b0b0b0, #7b7b7b);
        }
    }

    &-info {
        position: relative;
        bottom: 12px;

        &--error {
            h2 {
                color: $error-color;
                font-size: 18px;
                text-align: center;
            }
        }
    }
}

.login-modal__input-panel {
    margin-bottom: 20px;

    &.has-error {
        input {
            color: $error-color;
            border: 2px solid $error-color;
        }
    }    

    img {
        float: right;
        position: relative;
        right: 15px;
        top: -33px;
    }

    &--error {
        font-size: 10px;
        color: $error-color;
        margin-top: 4px;
        position: absolute;
    }

    p {
        font-size: 14px;
        margin: 0px 0px 7px;;
    }

    input {
        border: none;
        border-radius: 10px;
        box-sizing: border-box;
        font-size: 14px;
        height: 40px;
        padding-left: 10px;
        width: 100%;

        &:focus {
            border: 2px solid #92c4bc;
            outline: none;
        }       
    }
}