<div class="login-modal__input-panel" [class.has-error]="passwordInput.invalid && passwordInput.touched">
  <p>Your {{field}}:</p>
  <input minlength="3" id="password" [(ngModel)]="password" type="password" name="password" [(ngModel)]="password" #passwordInput="ngModel" required>
  <img src="../assets/{{field}}-inactive.svg" alt="password">
  <div *ngIf="passwordInput.invalid && (passwordInput.touched || passwordInput.dirty)"
        class="login-modal__input-panel--error">
        <span *ngIf="passwordInput?.errors">Wprowadzono nie prawidłowe hasło</span>
  </div>
</div>