@import  'variables.scss';
@import  'palette.scss';

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0;
}

.page-wrapper {
  justify-items: center;
  z-index: $main-wraper-z-index;

  &-content {
    max-width: 1024px;
    padding-bottom: 10px;
  }
}

.header-component {
  width: 100%;
  z-index: $main-wraper-z-index;
}

.list-articles {
  color: $white-color;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
  grid-template-columns: 1fr;
  margin: auto 20px;
  z-index: $main-wraper-z-index;

  @media (min-width: 550px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  &__empty-list {
    display: none;
    height: 71vh;
    margin-top: 45px;
    text-align: center;
    color: $white-color;
  }
}

.panel-stars {
  background-color: #080808;
  opacity: 0.8;
  width: 100%;

  :first-child {
    margin-left: 15px;
  }

  .star {
    display: inline-block;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 22px;

    &--active {
      background: url('/assets/star-active.svg') no-repeat;
    }

    &--inactive {
      background: url('/assets/star-inactive.svg') no-repeat;
    }
  }
}

.article-item {
  color: $dark-color;
  max-width: 450px;
  
  @media (min-width: 1024px) {
    max-width: 450px;
  }

  img {
    background: url('/assets/items/4.jpg') no-repeat;
    background-size: 100%;
    height: 300px;
    position: relative;
    top: 35px;
    width: 100%;
  }

  &__content {
    background: url('/assets/modal-bg.png') $grey-color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px 30px 0;

    &-info {
      height: 60px;
      margin-top: 15px;
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;

      .item-prize {
        font-size: 22px;
        font-weight: 700;
        position: relative;
        top: 3px;

        &--currency {
          color: $green-color;
        }
      }

      .button {
        border: none;
        border-radius: 10px;
        clear: right;
        color: $white-color;
        float: right;
        font-size: 12px;
        font-weight: 700;
        height: 40px;
        width: $button-width + 15px;
        background: -webkit-linear-gradient(bottom, #007d68, #00bcc0);
      }
    }

    p {
      font-size: 14px;
      line-height: 24px;
      margin: 0;
      padding-bottom: 10px;
    }

    h2 {
      margin: 0;
      height: 50px;
      padding: 0 0 8px 0;
      text-align: center;
    }

    hr {
      border: 0;
      border-top: 1px solid $green-color;
      height: 1px;
    }
  }
  &__vertical-text-overflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    @media (min-width: 550px) {
      height: 195px;
      -webkit-line-clamp: 8;
    }
    @media (min-width: 768px) {
      height: 245px;
      -webkit-line-clamp: 10;
    }

    @media (min-width: 1024px) {
      height: 315px;
      -webkit-line-clamp: 13;
    }
  }
}

.filters-panel {
  display: grid;
  justify-content: end;
  grid-template-columns: 1fr 400px;

  &-advanced {
    justify-content: flex-end;
    display: none;

    &--display {
      display: flex;
    }
  }

  &-advanced-options {
    background-color: #d3dce3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 290px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    max-width: 1000px;
    width: 100%;
  }

  &-options {
    margin-top: 25px;
    width: 405px;

    .button {
      border: none;
      border-radius: 10px;
      box-sizing: border-box;
      color: $white-color;
      cursor: pointer;
      font-size: 12px;
      font-weight: 700;
      height: 40px;
      margin-right: 10px;
      width: $button-width;
      background: -webkit-linear-gradient(bottom, #00bcc0, #007d68);
    }

    .input {
      border: none;
      border-radius: 10px;
      box-sizing: border-box;
      font-size: 12px;
      height: 40px;
      padding-left: 10px;
      width: 265px;
    }

    .icon-search {
      float: right;
      position: relative;
      right: 30px;
      top: 6px;
      width: 25px;
    }
  }

  &-wrapper-advanced {
    display: none;
    position: absolute;
    z-index: $modal-z-index;
    top: 165px;
    height: 40px;
    max-width: 1024px;
    width: 100%;
    left: 0;
    margin: 5px -26px;
    right: 0px;
  }
}

.filters-section {

  &-label {
    display: block;
    margin-top: 15px;

    &-left {
      margin-left: 10px;
    }
  }

  &__input input{
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    height: 30px;
    margin: 10px 10px;
    padding-left: 10px;
    width: 35%;
  }

  &-upper-left {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .gender-checkbox-edit {
      
      p {
        display: inline-block;
      }
    
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    
        &:checked ~ .checkmark {
          display: inline-block;
    
          &::after {
            display: block;
          }
        }
      }
    
      .label-checkbox {
        display: block;
    
        p {
          font-weight: 300;
          margin-top: 20px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    
      .checkmark {
        position: relative;
        cursor: pointer;
        border: 1px solid $green-color;
        display: inline-block;
        float: left;
        top: 0;
        left: 0;
        display: inline-block;
        margin-top: 13px;
        height: 25px;
        width: 25px;
        background-color: $white-color;
        border-radius: 50%;
    
        &::after {
          content: '';
          position: absolute;
          display: none;
          top: 2px;
          left: 2px;
          width: 21px;
          height: 21px;
          border-radius: 50%;
          background: $green-color;
        }
      }
      width: 100%;
    }

    .checkbox {
      cursor: pointer;
      display: block;
      margin-left: 35px;
      margin-top: 15px;
      transform: scale(1.5);
    }
  }

  &-bottom-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 35px;

    .button {
      border: none;
      border-radius: 10px;
      box-sizing: border-box;
      color: $white-color;
      cursor: pointer;
      font-size: 12px;
      font-weight: 700;
      height: 40px;
      margin-left: 25px;
      margin-right: 10px;
      width: $button-width;
      background: -webkit-linear-gradient(bottom, #00bcc0, #007d68);
    }

    .button:last-child {
      background: -webkit-linear-gradient(bottom, #0052cc, #5eaece);
    }
  }
}

.add-products {
  margin-left: 25px;
  margin-top: 25px;
  display: flex;
}

.modal-edit-dropdown {
  cursor: pointer;
  margin-top: 15px;

  &__currency {
    float: right;
    font-size: 14px;
    top: 32px;
    left: 14px;
    position: relative;
  }

  select {
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    height: 30px;
    margin: 5px 0;
    padding-left: 10px;
    width: 95%;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  label {
    
    &::after {
      border-top: .4em solid;
      border-right: .4em solid transparent;
      border-bottom: 0;
      border-left: .4em solid transparent;
      color: $green-color;
      content: "";
      display: inline-block;
      float: right;
      height: 0;
      margin-left: .255em;
      right: 40px;
      vertical-align: .255em;
      position: relative;
      top: 35px;
      width: 0;
    }
  }
}

.pagination {
  margin-top: 25px;
  display: grid;
  justify-content: center;

  &__page-num {
    height: 27px;
    width: 27px;
    padding: 6px;
    margin: 0 1px;
    min-width: 18px;
    border: none;
    text-align: center;

    &.active {
      background: #0098d0;
      color: #fff;    }
  }

  .link {
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    height: 40px;
    width: 115px;
    background: -webkit-linear-gradient(bottom, #0052cc, #5eaece);
    margin-left: 25px;
    margin-right: 25px;

    &.disabled {
      background: -webkit-linear-gradient(top, #b0b0b0, #7b7b7b);
    }
  }

  &__description {
    color: $white-color;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    .page-counts {
      margin-left: 30px;
    }
  }
}