<main class="page-wrapper">
        <div class="page-wrapper-grey"></div>
        <app-header class="header-component"></app-header>
        <div class="page-wrapper-content">
                <aside class="filters-panel">
                        <div class="add-products" [hidden]="!isAdmin">
                                <app-button [class]="'button--blue'" [buttonCaption]="'Add products'"></app-button>
                        </div>
                        <div class="filters-panel-options">
                                <app-button (click)="showHideFilterOptions()" [class]="'button__filter-options'" [buttonCaption]="'Filter options'"></app-button>
                                <app-input [placeholder]="'Search products'" [inputType]="'text'" [icon]="'search'" (inputEvent)="searchProducts($event)"></app-input>
                        </div>
                </aside>
          <aside class="filters-panel-advanced" [class.filters-panel-advanced--display]="isHiddenFilterOptions">
                  <div class="filters-panel-advanced-options" >
                          <div class="filters-section-upper-left">
                                  <div>
                                          <label class="filters-section-label filters-section-label-left">
                                                  <span>Available only</span>
                                                  <input class="checkbox" type="checkbox">
                                          </label>
                                  </div>
                                  <div>
                                          <app-checkbox-group (selectedGender)="selectGender($event)"></app-checkbox-group>
                                  </div>
                          </div>
                          <div class="filters-section-upper-right">
                                <app-dropdown [dropdownLabel]="'Category'" [options]="categoryOptions" (changedDropdownModel)="selectCategory($event)"></app-dropdown>
                                <app-dropdown [dropdownLabel]="'Rating'" [options]="ratingOptions" (changedDropdownModel)="selectRating($event)"></app-dropdown>
                          </div>
                          <div class="filters-section-bottom-left">
                                <div class="filters-section__input">
                                        <label class="filters-section-label filters-section-label-left">Price</label>
                                        <app-input [placeholder]="'From'" [class]="'input--price'" [inputType]="'number'" (inputEvent)="setMinimumPrice($event)"></app-input>
                                        <app-input [placeholder]="'To'" [class]="'input--price'" [inputType]="'number'" (inputEvent)="setMaximumPrice($event)"></app-input>
                                </div>
                          </div>
                          <div class="filters-section-bottom-right">
                                <app-button (click)="applyFilter()" [buttonCaption]="'Apply'"></app-button>
                                <app-button (click)="clearFilter()" [class]="'button--clear'" [buttonCaption]="'Clear'"></app-button>
                          </div>
                  </div>
          </aside>
              <section id="emptyList" class="list-articles__empty-list" *ngIf="productFilter">
                  <h1>Nie znaleziono ofert dla wprowadzonej frazy</h1>
              </section>
          <section class="list-articles">
                  <article *ngFor="let article of allProducts | productFilter: productFilter" class="article-item">
                        <img src={{article.image}}>
                        <div class="panel-stars">
                                <span class="star star--active" *ngFor="let activeStar of article.activeStar"></span>
                                <span class="star star--inactive" *ngFor="let activeStar of article.inActiveStar"></span>
                        </div>
                        <div class="article-item__content">
                                <h2>{{article.name}}</h2>
                                <hr />
                                <div class="article-item__vertical-text-overflow">
                                        <p>{{article.description}}</p>
                                </div>
                                <div class="article-item__content-info">
                                        <span class="item-prize"><span class="item-prize--currency">$</span>{{article.cost}}</span>
                                        <button [hidden]="!isAdmin" class="button">Delete products</button>  
                                        <button class="button" (click)="navigateToDetails(article.id)">Show more</button>  
                                </div>
                        </div>
                  </article>
          </section>
          <section class="pagination">
                        <div class="numbers">
                                <button class="link button" (click)="onPrev()" [disabled]="page === 1" [ngClass]="{ 'disabled': page === 1 }">Previous</button>
                                <button
                                        *ngFor="let pageNum of getPages()"
                                        (click)="onPage(pageNum)"
                                        class="pagination__page-num"
                                        [ngClass]="{'active': pageNum === page}">{{ pageNum }}</button>
                                <button class="link button" (click)="onNext(true)" [disabled]="lastPage()" [ngClass]="{ 'disabled': lastPage() }">Next</button>
                        </div>
                        <div class="pagination__description">
                                <span class="page-counts">{{ getMin() }} - {{ getMax() }} of {{ count }}</span>
                        </div>
              </section>
  </div>
  <app-footer></app-footer>
</main>